#container{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    background-color: purple;
    border-radius: 50%;
    }


#container:hover 
{ background-color: #3000df; 

transition: 0.5s;

opacity: 0.7;

width: 350px;
height: 350px;
margin: 20px auto;
transition: 500ms linear;

}