.container{
    position: absolute;
    display: flex;
    gap: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}


.bloco01{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: red;
    animation: move 3s linear infinite;
}

.bloco02{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: green;
    animation: move 3s 2s linear infinite;

}

.bloco03{
    position: relative;
    width: 200px;
    height: 200px;
    background-color: blue;
    animation: move 3s 4s linear infinite;
}


@keyframes move {
    0%,100%{
        top: 0px;
    }
    25%{
        top: 200px;
    }
    50%{
        top: -200px;
    }
  }